{{ set(this, 'title', _Blog.getBlogTitle()) }}


{# {% cache 'indexCache_1' 300 %} #}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% set networkData = _Network.getNetworkData() %}
{% set layoutTitle = _Page.getLayoutTitle() | lower | replace({' ': '_'}) %}
{% set blogData    = _Blog.getBlog() %}
{% set homeBlog    = blogData['title'] | lower %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}


{% set config = _Network.getThemeConfig() %}


{% set bannerSpots = [1,7,10] %}

{% set panels    = [] %}
{% set blogFeeds = {} %}




{# *******************************************************
            CONFIG OPTIONS SET IN PLATFORM
******************************************************* #}

{% if config['active'] is not defined or config['active'] == true %}

    {% if config['page']['index']['sections'] is defined %}
        {% set panels = config['page']['index']['sections'] %}
    {% endif %}

    {% if config['page']['index']['blogFeeds'] is defined %}
        {% set blogFeeds = config['page']['index']['blogFeeds'] %}
    {% endif %}

{% endif %}










<div class="clearfix"></div>


<main id="main" class="site-main" role="main" data-layout="{{layoutTitle}}">




        {# <div class="col-12 col-lg-8 u-full">
            <a class="c-cards-view c-cards-view-sm c-cards-view-md <?=$subClass?>" href="javascript:;">
                <figure class="c-cards-view--media" style="background-image: url('http://themehall.com/preview/celebrate/wp-content/uploads/sites/2/2013/03/unicorn-wallpaper.jpg')">
                    <img src="http://themehall.com/preview/celebrate/wp-content/uploads/sites/2/2013/03/unicorn-wallpaper.jpg"
                        alt="Image" class="img-fluid" />
                    <div class="video-icon"></div>
                </figure>
                <div class="social-icon"></div>
                <div class="c-cards-view__container">
                    <div class="c-cards-view__info">
                        <div class="c-cards-view__info--category">Community news</div>
                        <div class="c-cards-view__info--heading js-card-heading">Meiair naeos rorir despak iaol, It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div class="c-cards-view__info--description js-card-description">Spendisse ultrices pharetra id at nullar donec fin suad asoaos It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            beailak</div>
                        <div class="c-cards-view__additioanl-info">
                            <div class="c-cards-view__additioanl-info--price">$950,000</div>
                            <div class="c-cards-view__additioanl-info--features">
                                <div class="c-cards-view__additioanl-info--features-list">
                                    <span class="icon fa fa-bed"></span>
                                    <span class="text">3</span>
                                </div>
                                <div class="c-cards-view__additioanl-info--features-list">
                                    <span class="icon fa fa-bath"></span>
                                    <span class="text">7</span>
                                </div>
                                <div class="c-cards-view__additioanl-info--features-list">
                                    <span class="icon fa fa-car"></span>
                                    <span class="text">2</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="c-cards-view__author">
                        <div class="c-cards-view__author--name">Christopher MacPherson</div>
                        <div class="c-cards-view__author--time">1hr ago</div>
                    </div>
                </div>
            </a>
        </div> #}












{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key in blogFeeds | keys %}

    {% set break = false %}
    {% for blog in networkData.networkBlogs if not break %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 
                    'feed' : _Blog.getBlogFeed({'limit': 1, 'offset': 0}), 
                    'link' : '#' } 
                }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({
                'offset' : 0, 
                'blogid' : blog.guid,
                'limit'  : blogFeeds[key]['limit']
                })
            %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}
            {% set break = true %}
        {% endif %}

    {% endfor %}
{% endfor %}



    {# *******************************************************
                        RENDER PANELS
    ******************************************************* #}
    
    {% for pagesection in panels | keys %}

       {% if panels[pagesection]['active'] is not defined or panels[pagesection]['active'] == true %}
       
            {% set params = {
                'section'     : panels[pagesection],
                'blogFeeds'   : blogFeeds,
                'site'        : site,
                'dev'         : dev,
                'networkData' : networkData,
                'blogData'    : blogData
            } %}

            {{this.render('render.twig', params) | raw}} 

            {% if loop.index in bannerSpots %}
                <div class="ad-container">
                    <div class='advert-desktop advert-tablet' data-adsize="banner"></div>
                </div> 
                <div class="ad-container col-sm-9 visible-xs-block">
                    <div class='advert-mobile' data-adsize="mrec"></div>
                </div> 
            {% endif %}


        {% endif %}

    {% endfor %}



</main><!-- .site-main -->




{# {% endcache %} #}
