@mixin card-1-base() {
    .c-cards-view {
        @include flex-direction(column, vertical);
        height: inherit;

        &--media {
            height: 180px;
        }

        &__author {
            border: none;
        }

        &__container {
            margin-top: -25px;
            margin-left: 10px;
            @include calc(width, '100% - 20px');
            background: $white none repeat scroll 0 0;
            height: inherit;
            padding: 20px 20px 0 20px;
            z-index: 16;
        }

        &.u-social {
            .social-icon {
                @include size(30px);

                &:before {
                    @include font-size(13);
                    line-height: 32px;
                }
            }

            &.u-without-image {
                .c-cards-view {
                    &__container {
                        @include calc(width, '100% - 30px');
                        margin-left: 0px;
                        padding: 0 20px;
                        background: none;
                        margin-top: 40px;
                    }

                    &__info {
                        margin: 15px 0;
                        height: inherit;
                    }
                }
            }
        }

        &.u-video {
            .c-cards-view--media .video-icon {
                @include size(40px);
            }
        }

        &.u-without-image {
            .c-cards-view {
                &__container {
                    width: 100%;
                    padding: 0 20px;
                    margin-left: 0;
                    background: none;
                    margin-top: 0px;
                }

                &__info {
                    margin: 15px 0;
                    height: inherit;
                }
            }
        }
    }
}

.card-1 {
    @media #{$mobile} {
        @include card-1-base();
    }
}

.card-1-sm {
    
	@media #{$tablet-up} {
    
        @include card-1-base();

        .c-cards-view {
            &--media {
                height: 360px;
            }

            &__container {
                margin-top: -59px;
                margin-left: 15px;
                @include calc(width, '100% - 20%');
            }
        }

        &.u-social {
            .social-icon {
                @include size(50px);

                &:before {
                    @include font-size(22);
                    line-height: 52px;
                }
            }

            &.u-without-image {
                .c-cards-view {
                    &__container {
                        margin-top: 60px;
                    }
                }
            }
        }

        &.u-video {
            .c-cards-view--media .video-icon {
                @include size(70px);
            }
        }
    }
}