/* Begin cards view style */

.c-cards-view {
    @include flexbox();
    @include calc(height, '100% - 40px');
    margin-bottom: 40px;
    position: relative;

    &__media {
        position: relative;


            // IE10+ HACK
            _:-ms-lang(x) {
            overflow:hidden !important;

        }
        // IE9 HACK
        :root img {
            height:auto;
            width:auto;
            max-width:none;
        }  

            // IE10+ HACK
        _:-ms-lang(x), img {
            height:auto !important;
            width:auto !important;
            min-width:100% !important;
            max-width:100% !important;
            min-height:100% !important;
            max-height:100% !important;
        } 


        img {
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }

    &__container {
        height: 100%;
    }

    &__category {
        font-weight: $weightMedium;
        @include font-size(12);
        letter-spacing: 0.87px;
        line-height: 15px;
        color: $blue;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__heading {
        @include font-size(22);
        font-weight: $weightRegular;
        line-height: 1.4;
        color: $black;
        overflow: hidden;
    }

    &__description {
        @include font-size(14);
        font-weight: $weightRegular;
        line-height: 1.54;
        color: $greyish;
        display: none;
        overflow: hidden;
    }

    &__additioanl-info {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        margin: 10px 0 15px;
        display: none;

        &--price {
            @include font-size(14);
            font-weight: $weightMedium;
            line-height: 1.07;
            letter-spacing: 1px;
            color: $greyish;
        }

        &--features {
            @include flexbox();
            @include justify-content(flex-start);
            @include align-items(center);

            &-list {
                margin-left: 15px;

                .icon {
                    @include font-size(14);
                    color: $blue;
                }

                .text {
                    margin-left: 5px;
                    @include font-size(14);
                    font-weight: $weightRegular;
                    line-height: 1.07;
                    letter-spacing: 1px;
                    color: $greyish;
                }
            }
        }
    }

    &__author {
        border-top: 1px solid rgba($greyish, 0.3);
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        padding: 10px 0 8px;

    }

    &__author-name {
        font-family: $secondaryFont;
        font-weight: $weightRegular;
        font-style: italic;
        @include font-size(11);
        letter-spacing: 0.87px;
        line-height: 15px;
        color: $greyish;
    }

    &__time {
        color: rgba($greyish, 0.8);
        font-weight: $weightRegular;
        @include font-size(12);
        letter-spacing: 0.87px;
        line-height: 15px;
        text-transform: uppercase;
    }



    &.u-without-image {
        background-color: rgba($grey, 0.8);

        .c-cards-view {
            &--media {
                display: none;
            }

            &__heading {
                min-height: inherit;
                max-height: 100px;
            }
        }
    }

    &.u-video {
        .c-cards-view {
            &--media {
                .video-icon {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    @include translate(-50%, -50%);

                    &:before {
                        content: '';
                        display: block;
                        @include size(100%);
                        background-image: url('../images/icons/video-icon.svg');
                        background-repeat: no-repeat;
                        @extend .u-image-covered;
                        z-index: 15;
                    }
                }
            }
        }
    }

    &.u-social {
        .social-icon {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 16;
            text-align: center;

            &:before {
                content: '';
                font-family: $iconfont;
                color: $white;
                @include font-size(26);
                line-height: 52px;
            }
        }

        &.u-facebook {
            .social-icon {
                background-color: $facebook;

                &:before {
                    content: '\f09a';
                }
            }
        }

        &.u-twitter {
            .social-icon {
                background-color: $twitter;

                &:before {
                    content: '\f099';
                }
            }
        }

        &.u-linkedin {
            .social-icon {
                background-color: $linkedin;

                &:before {
                    content: '\f0e1';
                }
            }
        }

        &.u-youtube {
            .social-icon {
                background-color: $youtube;

                &:before {
                    content: '\f16a';
                }
            }
        }

        &.u-instagram {
            .social-icon {
                background-color: $instagram;

                &:before {
                    content: '\f16d';
                }
            }
        }

        &.u-pinterest {
            .social-icon {
                background-color: $pinterest;

                &:before {
                    content: '\f231';
                }
            }
        }

        &.u-googleplus {
            .social-icon {
                background-color: $googleplus;

                &:before {
                    content: '\f0d5';
                }
            }
        }

        &.u-vimeo {
            .social-icon {
                background-color: $vimeo;

                &:before {
                    content: '\f27d';
                }
            }
        }
    }
}
