@mixin card-4-base() {
    .c-cards-view {
        min-height: 317px;

        &__media {
            width: 98px;
            height: 130px;
        }

        &__container {
            @include calc(width, '100% - 112px');
            margin-left: 14px;
        }

        &__info {
            @include calc(height, '100% - 40px');
        }


        &__heading {
            @include font-size(16);
            font-weight: $weightMedium;
            line-height: 1.18;
            color: $black;
            min-height: inherit;
            max-height: 66px;
        }

        &__description {
            @include font-size(13);
            font-weight: $weightRegular;
            line-height: 1.54;
            color: $greyish;
            display: none;
        }


        &.video {
            .c-cards-view__media .video-icon {
                @include size(40px);
            }
        }

        &.without-image {
            .card {
                &__container {
                    width: 100%;
                    margin-left: 0px;
                    padding: 0px 20px 0;
                }

                &__info--description {
                    margin-bottom: 15px;
                    display: block;
                    max-height: 90px;
                    overflow: hidden;
    
                }
            }
        }

        &.social {
            .social-icon {
                @include size(35px);

                &:before {
                    @include font-size(16);
                    line-height: 35px;
                }
            }

            &.without-image {
                .card {
                    &__container {
                        padding-top: 50px;
                    }

                    &__info--heading {
                        max-height: 62px;
                    }
                }
            }
        }
    }
}

.card-4 {
    @media #{$mobile} {
        @include card-4-base();
    }
}

@mixin card-4-sm-base() {
    @include card-4-base();

    
    .c-cards-view {
        @include flex-direction(column, vertical);
        &__media {
            height: inherit;
            width: 100%;
            background: $white none repeat scroll 0 0;

            img {
                display: block;
            }
        }

        &__description {
            display: block;
            max-height:41px;
        }

        &__container {
            width: 100%;
            margin-left: 0;
        }

        &__info {
            @include calc(height, '100% - 34px');
        }
    }

    &.video {
        .c-cards-view__media .video-icon {
            @include size(50px);
        }
    }
}

.card-4-sm {
    @media #{$tablet} {
        @include card-4-sm-base();
    }
}

.card-4-md {
	@media #{$desktop-up} {
        @include card-4-sm-base();
    }
}
