{% set articleCount = 0 %}
{% set cardIndex = 0 %}


<div class="row">
    <div class="col-9">
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading--large u-heading--large-xs u-pr--6 u-bg-white">{{title}}</div>
            <a href="javascript:;" class="c-page-head--link">View all</a>
        </div>
    </div>
</div>


<div class="row c-cards">
    {% for i in 0..2 if articles[articleCount] %}
        <div class= "col-9 col-lg-3">
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                position: (articleCount+1),
                imageSize: {width: 360, height: 270},
                containerClass: "card-3 card-3-sm card-3-md"
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        </div>
    {% endfor %}


</div>


<div class="row">

    <div class="col-9 col-lg-6">

        {% for i in 0..1 if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                position: (articleCount+1),
                imageSize: {width: 740, height: 360},
                containerClass: "card-2 card-2-sm card-2-md"
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endfor %}
        
    </div>


    <div class="col-9 col-lg-3">
        <div class="u-advertisement-section">
            <img src="{{networkData.templatePath}}/static/images/adv2.png" alt="image" class="img-fluid" />
        </div>
    </div>
</div>

