{% set articleCount = 0 %}
{% set cardIndex = 0 %}


    <div class="row">
        <div class="col-9 col-lg-6">
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                position: (articleCount+1),
                imageSize: {width: 740, height: 360},
                containerClass: "card-1 card-1-sm"
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        </div>


        <div class="col-9 col-lg-3">
            <div class="c-news-feed">
                <div class="c-news-feed--title">Most popular</div>
                <ul class="c-news-feed__list">
                    <li>
                        <a href="javascript:;" class="c-news-feed__list--items">
                            <div class="c-news-feed__list--counter">01</div>
                            <div class="c-news-feed__list__info">
                                <span class="c-news-feed__list__info--title">Donec ginibus ultrices nasieo nesr meiair naeos rorir anseiot</span>
                                <span class="c-news-feed__list__info--description">Spendisse ultrices pharetra id at nullar donec fin suad asoaos beailak</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="c-news-feed__list--items">
                            <div class="c-news-feed__list--counter">02</div>
                            <div class="c-news-feed__list__info">
                                <span class="c-news-feed__list__info--title">Nerad laso mero beailak</span>
                                <span class="c-news-feed__list__info--description">Spendisse ultrices pharetra id at nullar donec fin suad asoaos beailak</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="c-news-feed__list--items">
                            <div class="c-news-feed__list--counter">03</div>
                            <div class="c-news-feed__list__info">
                                <span class="c-news-feed__list__info--title">Nerad laso mero beailak</span>
                                <span class="c-news-feed__list__info--description">Spendisse ultrices pharetra id at nullar donec fin suad asoaos beailak</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="c-news-feed__list--items">
                            <div class="c-news-feed__list--counter">04</div>
                            <div class="c-news-feed__list__info">
                                <span class="c-news-feed__list__info--title">Nerad laso mero beailak</span>
                                <span class="c-news-feed__list__info--description">Spendisse ultrices pharetra id at nullar donec fin suad asoaos beailak</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="c-news-feed__list--items">
                            <div class="c-news-feed__list--counter">05</div>
                            <div class="c-news-feed__list__info">
                                <span class="c-news-feed__list__info--title">Nerad laso mero beailak</span>
                                <span class="c-news-feed__list__info--description">Spendisse ultrices pharetra id at nullar donec fin suad asoaos beailak</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- row -->






    <div class="row">

        <div class="col-9 col-lg-6">

            {% for i in 0..2 if articles[articleCount] %}
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    position: (articleCount+1),
                    imageSize: {width: 740, height: 360},
                    containerClass: "card-2 card-2-sm card-2-md"
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% endfor %}
            
        </div>

        <div class="col-9 col-lg-3">
            <div class="u-advertisement-section">
                <img src="{{networkData.templatePath}}/static/images/adv2.png" alt="image" class="img-fluid" />
            </div>

            <div class="row c-cards">
                <div class="col-9">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 360, height: 270},
                        containerClass: "card-1 card-2-sm card-3-md"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            </div>
        </div>
    </div>
