/* Begin page head style */
.c-myAccount {
    padding-right:0;
    margin-bottom:35px;
    
    @include responsive(xs) {
        padding-right:50px;
    }
    
    .hr {
        width:100%;
        font-size:0;
        margin:30px 0;
        display:inline-block;
        border-top:1px solid $border;
        hr {
            display:none;
        }
    }
    
    &--head, &--subhead {
        line-height:1.3;
        font-weight:$weightBold;
        @include margin-bottom(30);
    }
    &--head {
        color:$black;
        @include font-size(28);
        @include margin-bottom(20);
    }
    &--subhead {
        color:$greyish;
        @include font-size(15);
        @include margin-bottom(20);
    }
    &--text {
        color:$greyish;
        @include font-size(14);
        line-height:1.6;
        @include margin-bottom(20);
        font-family:$weightRegular!important;
    }
    
    &--AddUsers {
        @include flexbox;
        position:relative;
        margin-bottom:30px;
        @include align-items(center);
        @include align-content(flex-start);
        @include justify-content(space-between);
        @include flex-direction(row, horizontal);
        
        .c-myAccount--subhead {
            margin-bottom:0;
        }
        
        &--Elements {
            top:-3px;
            right:0px;
            position:absolute;
        }
    }
    
    .horizontal-form {
        width:100%;
        
        .form-group {
            @include flexbox;
            @include align-items(flex-start);
            @include align-content(flex-start);
            @include justify-content(flex-start);
            @include flex-direction(column, vertical);
            
            @include responsive(sm) {
                @include align-items(center);
                @include flex-direction(row, horizontal);
            }
            
            &:last-child, &:only-child {
                margin-bottom:0px;
            }
            
            .control-label {
                width:100%;
                flex:0 0 100%;
                max-width:100%;
                color: $greyish;
                margin-bottom:7px;
                @include font-size(14);
                line-height:1.5;
                font-weight:$weightBold;
                
                @include responsive(sm) {
                    width:130px;
                    flex:0 0 130px;
                    max-width:130px;
                    margin-bottom:0;
                }
            }
            
            .input__text {
                color:$black;
                margin-bottom:0px;
                @include font-size(14);
                line-height:1.5;
                font-weight:$weightRegular;
            }
            
            .btn-cancel {
                float:right;
                color:$blue;
                text-align:right;
                @include font-size(14);
                line-height:1.5;
                font-weight:$weightMedium;
                font-style:italic;
            }
        }
    }
    
    &--Search {
        width:100%;
        position:relative;
        
        .input__text {
            color:$greyish;
            @include font-size(17);
            line-height:1.5;
            font-style:italic;
            padding-right:30px;
            font-weight:$weightLight;
            border:0px none!important;
            border-bottom:1px solid $border!important;
            @include border-radius(0 0 0 0!important);
            @include box-shadow(none!important);
            
            &:focus {
                border-bottom:1px solid $blue!important;
            }
        }
        
        &--btn {
            top:0;
            right:0;
            cursor:pointer;
            border:0px none;
            position:absolute;
            @include size(44px);
            background-color:transparent;
            background-image:url('../images/icons/search.svg');
            background-position:center center;
            background-repeat:no-repeat;
            background-size:18px auto;
        }
        
        &--Reults {
            left:0;
            right:0;
            top:0;
            width:100%;
            position:relative;
            
            ul {
                margin:0;
                padding:0;
                list-style:none;
                @include padding-top(14);
                background-color:$white;
                
                > li {
                    position:relative;
                    @include flexbox;
                    @include padding-top(14);
                    @include padding-bottom(14);
                    @include align-items(flex-start);
                    @include align-content(flex-start);
                    @include justify-content(space-between);
                    @include flex-direction(row, horizontal);
                    @include flex-flow(row wrap);
                    border-bottom:1px solid $border;
                    
                    &.text-center {
                        width:100%;
                        text-align:center;
                        @include align-items(center);
                        @include align-content(center);
                        @include justify-content(center);
                    }
                }
            }
            
            .c-button {
                float:right;
                @include margin-top(20);
            }
        }
        
        .close {
            @extend .x-close;
        }
            
        &--AddUsers {
            position:relative;
            @include padding-top(19);
            @include padding-right(27);
            
            .close {
                top:32px!important;
                @include transform(translateY(0px)!important);
            }
            
            .row {
                margin-bottom:15px;
                &:last-child, &:only-child {
                    margin-bottom:0;
                }
            }
            
            .form-control {
                color:$black;
                margin-bottom:0px;
                @include font-size(14);
                line-height:1.5;
                font-weight:$weightRegular;
                
                
            }
        }
    }
}


.c-plans {
    margin:0;
    padding:0;
    width:100%;
    margin:0px 0;
    list-style:none;
    @include flexbox;
    @include align-items(flex-start);
    @include align-content(flex-start);
    @include justify-content(flex-start);
    @include flex-direction(column, vertical);
    @include flex-flow(row wrap);

    @include responsive(xs) {
        width:auto;
        margin:0px -15px;
        @include flex-direction(row, horizontal);
    }

    &__block {
        width:100%;
        margin:0px 0;
        cursor:pointer;
        @include flexbox;
        text-align:center;
        @include padding(25);
        @include margin-bottom(20);
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column, vertical);
        flex:1 0 calc(100% - 0px);
        max-width:calc(100% - 0px);
        background-color:#d8d8d8;
        @include border-radius(6px);

        &:last-child {
            margin-bottom:0;
        }

        @include responsive(xs) {
            width:50%;
            margin:0px 15px;
            flex:1 0 calc(50% - 30px);
            max-width:calc(50% - 30px);
        }

        .label-name, .label-users, .lable-price {
            width:100%;
            color:$greyish;
            text-align:center;
            display:inline-block;
        }

        .label-name {
            color:$black;
            @include font-size(20);
            line-height:1.5;
            font-weight:$weightBold;
        }
        .label-users {
            @include font-size(13);
            line-height:1.5;
            font-weight:$weightBold;
        }
        .lable-price {
            @include font-size(30);
            line-height:1.5;
            font-weight:$weightLight;
            margin-top:15px;
        }

        .button-set {

            label {
            }
            input {
                &[type="radio"] + span {
                    margin-right:0px;
                    background-color:#d8d8d8;
                    border:1px solid rgba($greyish,0.5);
                }
            }
        }

        &.selected {
            background-color:$blue;

            .label-name, .label-users, .lable-price {
                color:$white;
            }

            .button-set {

                label {
                }

                input {
                    &[type="radio"] + span {
                        margin-right:0px;
                        background-color:$blue!important;
                        border:1px solid rgba($white,0.85)!important;

                        &:after {
                            @include opacity(1);
                            @include border-radius(6px);
                            background-color:$white!important;
                            border:2px solid $blue!important;
                        }

                        &:checked + span {
                            border:1px solid rgba($white,0.85)!important;
                        }
                    }
                }
                &[type="radio"]:checked + span::after {
                    border:2px solid $blue!important;
                    background-color:$white!important;
                }
            }
        }
    }
    
    &__button-group {
        .c-button {
            min-width:230px;
            max-width:230px;
            @include margin-top(10);
            
            // +.c-button {
            //     @include margin-left(0);
            // }
            &--blue {
                &-bordered {
                    background-color:transparent;
                    
                    &:hover {
                        color:darken($blue, 18%);
                    }
                }
            }
        }
    }
}


.c-myAccount {
    .horizontal-form {
        .form-group.fullwidth {
            @include align-items(flex-start);
            @include align-content(flex-start);
            @include justify-content(flex-start);
            @include flex-direction(column, vertical!important);
            
            @include responsive(sm) {
                
            }
                
            label {
                width:100%;
                flex:0 0 100%;
                max-width:100%;
                margin-bottom:10px;
            }
            .three-column {
                width:100%;
                @include flexbox;
                @include align-items(center);
                @include align-content(flex-start);
                @include justify-content(flex-start);
                @include flex-direction(row, horizontal);
            }
            .input__text {
                width:100%;
                max-height:44px;
            }
            .w490 {
                width:60%;
                flex:0 0 60%;
                max-width:60%;
                @include flexbox;
                
                @include responsive(sm) {
                    width:60%;
                    flex:0 0 60%;
                    max-width:60%;
                }
            }
            .w85 {
                width:20%;
                flex:0 0 20%;
                max-width:20%;
                @include flexbox;
                padding-left:10px;
                
                @include responsive(sm) {
                    width:20%;
                    flex:0 0 20%;
                    max-width:20%;
                    padding-left:15px;
                }
            }
            
            .w450, .w70 {
                .input__text {
                    width:100%;
                    max-height:44px;
                }
            }
        }
    
        .c-myAccount--Subscription {
            .form-group {
                @include responsive(sm) {
                    @include align-items(flex-start);
                }
            }
        }
    }
}

/* End page head style */