/* Begin page head style */
.c-Subscribe {
    padding-right:0;
    margin-bottom:35px;
    
    @include responsive(xs) {
        padding-right:50px;
        margin-bottom:0px;
    }
    
    .hr {
        width:100%;
        font-size:0;
        margin:30px 0;
        display:inline-block;
        border-top:1px solid $border;
        hr {
            display:none;
        }
    }
    
    &--head, &--subhead {
        line-height:1.3;
        font-weight:$weightBold;
        @include margin-bottom(30);
    }
    &--head {
        color:$black;
        @include font-size(28);
        @include margin-bottom(20);
    }
    &--subhead {
        color:$greyish;
        @include font-size(15);
        @include margin-bottom(20);
    }
    &--text {
        color:$greyish;
        @include font-size(14);
        line-height:1.6;
        @include margin-bottom(20);
        font-family:$weightRegular!important;
    }
    
    &--AddUsers {
        @include flexbox;
        position:relative;
        margin-bottom:30px;
        @include align-items(center);
        @include align-content(flex-start);
        @include justify-content(space-between);
        @include flex-direction(row, horizontal);
        
        .c-myAccount--subhead {
            margin-bottom:0;
        }
        
        &--Elements {
            top:-3px;
            right:0px;
            position:absolute;
        }
    }
    
    .horizontal-form {
        width:100%;
        
        .form-group {
            @include flexbox;
            @include align-items(flex-start);
            @include align-content(flex-start);
            @include justify-content(flex-start);
            @include flex-direction(column, vertical);
            
            @include responsive(sm) {
                @include align-items(flex-start);
                @include flex-direction(column, vertical);
            }
            
            &:last-child, &:only-child {
                margin-bottom:0px;
            }
            
            .control-label {
                width:100%;
                flex:0 0 100%;
                max-width:100%;
                color: $greyish;
                margin-bottom:7px;
                @include font-size(14);
                line-height:1.5;
                font-weight:$weightBold;
                
                @include responsive(sm) {
                    width:130px;
                    flex:0 0 130px;
                    max-width:130px;
                    margin-bottom:0;
                }
            }
            
            .input__text {
                color:$black;
                margin-bottom:0px;
                @include font-size(14);
                line-height:1.5;
                font-weight:$weightRegular;
            }
            
            .btn-cancel {
                float:right;
                color:$blue;
                text-align:right;
                @include font-size(14);
                line-height:1.5;
                font-weight:$weightMedium;
                font-style:italic;
            }
        }
    }
    
    &--sidebar {
        
        &:before {
            top:150px;
            left:0px;
            content:'';
            z-index:-1;
            position:absolute;
            background-color:$blue;
            width:calc(100% - 0px);
            height:calc(100% - 170px);
        }
            
        @include responsive(xs) {
            &:before {
                left:32px;
                width:calc(100% - 43px);
                height:calc(100% - 170px);
            }
        }
    }
    
    &--Device {
        width:100%;
        margin:0px auto;
        max-width:310px;
        @include flexbox;
        position:relative;
        @include margin-top(30);
        @include align-items(center);
        @include align-content(center);
        @include justify-content(center);
        
        @include responsive(xs) {
            width:auto;
            max-width:340px;
        }
        
        .img-fluid {
            width:100%;
            max-width:100%;
            
            @include responsive(xs) {
                width:auto;
                max-width:100%;
            }
        }
    }
    
    &--OrderSummary {
        color:$white;
        @include padding(40 20);
        @include padding-top(60);
        @include flexbox;
        @include align-items(center);
        @include align-content(center);
        @include justify-content(flex-start);
        @include flex-direction(column, vertical);
        @include flex-wrap(wrap);
        
        h4 {
            color:$white;
            position:relative;
            @include font-size(22);
            line-height:1.5;
            font-weight:$weightBold;
            margin-bottom:40px;
            
            &:before {
                left:50%;
                content:' ';
                bottom:-10px;
                position:absolute;
                @include size(20px, 2px);
                background-color:$white;
                @include transform(translateX(-50%));
            }
        }
        
        &__price {
            @include font-size(46);
            font-weight:$weightBold;
            margin-bottom:10px;
        }
        &__usercount {
            @include font-size(18);
            font-weight:$weightLight;
        }
        
        &__details {
            text-align:center;
            @include padding-top(50);
            @include margin-bottom(80);
            
            p {
                color:$offwhite;
                @include font-size(14);
                line-height:1.5;
                font-weight:$weightBold;
            }
            
            ul {
                margin:0;
                padding:0;
                list-style:none;
                
                > li {
                    width:100%;
                    margin-bottom:5px;
                    @include font-size(14);
                }
            }
        }
        
        .btn-change {
            color:$offwhite;
            @include font-size(14);
            font-weight:$weightMedium;
            font-style:italic;
        }
    }
}


.c-Subscribe {
    .horizontal-form {
        .form-group.fullwidth {
            @include align-items(flex-start);
            @include align-content(flex-start);
            @include justify-content(flex-start);
            @include flex-direction(column, vertical!important);
            
            @include responsive(sm) {
                
            }
                
            label {
                width:100%;
                flex:0 0 100%;
                max-width:100%;
                margin-bottom:10px;
            }
            .three-column {
                width:100%;
                @include flexbox;
                @include align-items(center);
                @include align-content(flex-start);
                @include justify-content(flex-start);
                @include flex-direction(row, horizontal);
            }
            .input__text {
                width:100%;
                max-height:44px;
            }
            .w490 {
                width:60%;
                flex:0 0 60%;
                max-width:60%;
                @include flexbox;
                
                @include responsive(sm) {
                    width:60%;
                    flex:0 0 60%;
                    max-width:60%;
                }
            }
            .w85 {
                width:20%;
                flex:0 0 20%;
                max-width:20%;
                @include flexbox;
                padding-left:10px;
                
                @include responsive(sm) {
                    width:20%;
                    flex:0 0 20%;
                    max-width:20%;
                    padding-left:15px;
                }
            }
            
            .w450, .w70 {
                .input__text {
                    width:100%;
                    max-height:44px;
                }
            }
        }
    
        .c-Subscribe--Subscription {
            .form-group {
                @include responsive(sm) {
                    @include align-items(flex-start);
                }
            }
        }
    }
}

/* End page head style */