/* Begin article style */

.c-article {
    .o-media {
        @include margin-bottom(10);
        z-index: 9;
        overflow: hidden;

        &--caption {
            font-family: $secondaryFont;
            color: $greyish;
            @include font-size(11);
            line-height: 1.36;
            font-style: italic;
            font-weight: $weightRegular;
            @include padding-top(9);
            width: $viewportSize;
        }

        &--item {
            position: relative;

            .video-icon {
                display: none;
            }

            &--galllery {
                position: relative;
            }
        }

        &--video {
            .video-icon {
                @include size(50px);
                position: absolute;
                left: 50%;
                top: 50%;
                @include translate(-50%, -50%);
                cursor: pointer;
                display: block;

                &:before {
                    content: '';
                    display: block;
                    @include size($viewportSize);
                    background-image: url('../images/icons/video-icon.svg');
                    background-repeat: no-repeat;
                    z-index: 15;
                    @include background-size(cover);
                }
            }

        }

        button {
            background: $greyish none repeat scroll 0 0;
            z-index: 1;
            width: auto;
            height: auto;
            @include padding(7 5);

            &:before {
                font-family: $iconfont;
                color: $white;
                @include font-size(25);
            }

            &.slick-prev {
                left: -42px !important;
                opacity: 0;
                visibility: hidden;
                @include transition(all 0.5s);

                &:before {
                    content: '\f104';
                }
            }

            &.slick-next {
                right: -42px !important;
                opacity: 0;
                visibility: hidden;
                @include transition(all 0.5s);

                &:before {
                    content: '\f105';
                }

            }
        }

        &:hover {
            button {
                &.slick-prev {
                    left: -0px !important;
                    @include transition(all 0.5s);
                    opacity: 1;
                    visibility: visible;
                }

                &.slick-next {
                    right: -0px !important;
                    @include transition(all 0.5s);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        @include responsive(sm) {
            @include margin-bottom(50);

            .o-media--video {
                .video-icon {
                    @include size(70px);
                }
            }

            button {
                @include padding(16 12);

                &:before {
                    font-family: $iconfont;
                    color: $white;
                    @include font-size(34);
                }
            }
        }

        @include responsive(xs) {
            @include margin-bottom(20);
        }
    }

    &__main {
        .c-article--paywalled-view {
            display: none;
        }
    }

    &__head {

    }

    &__edit-link {
        display:block;
        color: $blue;
        font-family: $primaryFont;
        @include font-size(12);
        line-height: 1.25;
        font-weight: $weightMedium;
        @include margin-top(-30);
        @include margin-bottom(20);
        @include padding(10);
        border: 1px solid $blue;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        text-align: center;
        background-color: $blue;
        color: white;
    }

    &__category {
        color: $blue;
        font-family: $primaryFont;
        @include font-size(12);
        line-height: 1.25;
        font-weight: $weightMedium;
        @include margin-bottom(6);
        text-transform: uppercase;
        letter-spacing: 0.9px;
    }

    &__title {
        color: $black;
        font-family: $primaryFont;
        @include font-size(28);
        line-height: 1.14;
        font-weight: $weightBold;
        @include margin-bottom(20);
        letter-spacing: normal;
    }

    &__posted-on {
        @include margin-bottom(21);
        @include flexbox();

        span {
            color: $greyish;
            font-family: $secondaryFont;
            @include font-size(12);
            line-height: 1.25;
            font-weight: $weightRegular;
            letter-spacing: normal;
            font-style: italic;

            &+span {
                &:before {
                    content: '|';
                    display: inline-block;
                    @include margin(0 8);

                }
            }
        }
    }

    &__posted-by {
        border-top: 1px solid $offwhite;
        border-bottom: 1px solid $offwhite;
        @include padding(11 0);
        @include flexbox();
        @include align-items(center);
        @include margin-bottom(22);
    }
    // &__avtar {
    //     width: 30px;
    //     height: 30px;
    //     @include border-radius(100%);
    //     background-position: center center;
    //     @include background-size(contain);
    //     @include margin-right(13);
    // }

    &__author {
        color: $greyish;
        font-family: $primaryFont;
        @include font-size(13);
        line-height: 1.15;
        font-weight: $weightLight;
        letter-spacing: normal;
    }

    &--excerpt {
        color: rgba(0, 0, 0, 0.7);
        font-family: $primaryFont;
        @include font-size(15);
        line-height: 1.6;
        font-weight: $weightUltabold;
        @include margin-bottom(23);
        letter-spacing: 0.8px;
    }

    &__container {

        p,
        span,
        b,
        u,
        a {
            color: $greyish !important;
            font-family: $primaryFont !important;
            font-size: 15px !important;
            line-height: 1.6 !important;
            font-weight: $weightLight !important;
            letter-spacing: 0.5px !important;
            margin-bottom: 20px !important;
            word-wrap: break-word;

            * {
                line-height: 1.5 !important;
                letter-spacing: 1px !important;
                font-family: $primaryFont !important;
                word-wrap: break-word;
                margin-bottom: 0px !important;
            }
        }

        a {
            border-bottom: 1px solid $blue;
            @include transition(all 0.3s ease);
            font-family: $primaryFont !important;
            color: $blue;

            &:hover,
            &:focus {
                border-color: $transparent;
            }
        }

        blockquote {
            color: $blue !important;
            font-family: $primaryFont !important;
            font-size: 22px !important;
            line-height: 1.45 !important;
            font-weight: $weightMedium !important;
            letter-spacing: 0.5px !important;
            margin-bottom: 44px !important;
            display: block;

            &:after {
                content: '';
                width: 76px;
                height: 1px;
                display: block;
                background: $greyish none repeat scroll 0 0;
                margin-top: 30px !important;
            }
        }

        img {
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
            margin-bottom: 25px;

            &:not([width]) {
                max-width: 100%;
                width: 100%;
            }
        }

        figure {
            position: relative;
            margin-top: 20px;
            margin-bottom: 40px;
            float: left;
            width: auto;
            left: 50%;
            @include translate(-50%, 0);

            img {
                &:not([width]) {
                    max-width: 100%;
                    width: 100%;
                }
            }

            figcaption {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: rgba($black, 0.7) none repeat scroll 0 0;
                color: $white;
                z-index: 30;
                padding: 10px 20px;
                font-family: $primaryFont !important;
            }
        }

        figure[style*="right"] {
            margin-right: 0px;
            margin-left: 20px;
        }

        figure[style*="right"],
        figure[style*="left"] {
            left: auto !important;
            @include translate(0%, 0);
            margin-right: 20px;
        }

        div[style*="text-align:center"],
        div[style*="text-align: center"] {
            overflow: hidden;
        }

        iframe {
            width: $viewportSize;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $black !important;
        }

        h1 {
            font-size: 26px !important;
        }

        h2 {
            font-size: 24px !important;
        }

        h3 {
            font-size: 22px !important;
        }

        h4 {
            font-size: 20px !important;
        }

        h5 {
            font-size: 18px !important;
        }

        h6 {
            font-size: 16px !important;
        }

        ol,
        ul {
            overflow: hidden;
            margin-bottom: 20px;
            padding-left: 25px;

            li {
                width: 100%;
                float: left;
                list-style-position: outside;
                padding-left: 7px;
                margin-bottom: 10px;
                color: $greyish !important;
                font-family: $primaryFont !important;
                font-size: 15px !important;
                line-height: 1.6 !important;
                font-weight: $weightLight !important;

                >p {
                    margin-bottom: 0px;
                }
            }
        }

        ul li {
            list-style-type: disc !important;

            span {
                position: relative;
                left: -22px;
                font-family: $primaryFont !important;
            }
        }

        ol li {
            list-style-type: decimal !important;
        }
    }

    @include responsive(sm) {
        .o-media--caption {
            position: absolute;
            bottom: 0;
            background: $white none repeat scroll 0 0;
        }

        .c-article__container {
            img {
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 30px;
                margin-bottom: 60px;

                &:not([width]) {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }

    }

    &--paywalled {
        .c-article__main {
            .c-article--paywalled-view {
                display: block;
            }
        }

        &-excerpt {
            .c-article--excerpt {
                max-height: 70px;
                overflow: hidden;
            }

            .c-article__container {
                display: none;
            }
        }

        &-container {
            .c-article__container {
                max-height: 70px;
                overflow: hidden;
            }

            .c-article--excerpt {
                display: none;
            }
        }

        &-view {
            position: relative;

            &:before {
                content: '';
                display: block;
                left: 0;
                right: 0;
                margin: 0 auto;
                padding: 30px 15px 5px;
                background: -moz-linear-gradient(to bottom, transparent 0, rgba(255, 255, 255, 0.66) 40%, #fff 100%);
                background: -webkit-linear-gradient(to bottom, transparent 0, rgba(255, 255, 255, 0.66) 40%, #fff 100%);
                background: linear-gradient(to bottom, transparent 0, rgba(255, 255, 255, 0.66) 40%, #fff 100%);

                position: absolute;
                top: -110px;
                height: 110px;
                width: 100%;
            }

            &:after {
                display: none;
            }

            .o-paywalled {
                @include flexbox();
                @include flex-direction(column, verticle);

                &__head {
                    color: $black;
                    font-family: $primaryFont;
                    @include font-size(28);
                    line-height: 1.14;
                    font-weight: $weightBold;
                    @include margin-bottom(30);
                    letter-spacing: normal;
                }

                &__action {
                    @include flexbox();
                    @include margin-bottom(30);
                }

                &__period {
                    color: $greyish;
                    font-family: $weightLight;
                    @include font-size(15);
                    line-height: 1.6;
                    font-weight: $weightRegular;
                    @include margin-bottom(30);
                    letter-spacing: normal;

                    a {
                        display: block;
                        @include font-size(12);
                        text-decoration: underline;
                        @include margin-top(14);
                        color: $greyish;
                        font-family: $primaryFont;
                    }
                }
            }
        }

        @include responsive(md) {
            .o-paywalled__period {
                max-width: 290px;
                color: $greyish;
                font-family: $weightLight;
                @include font-size(15);
                line-height: 1.6;
                font-family: $primaryFont;
                @include margin-bottom(30);
                letter-spacing: normal;

                a {
                    display: block;
                    @include font-size(12);
                    text-decoration: underline;
                    @include margin-top(14);
                    color: $greyish;
                    font-family: $primaryFont;
                    font-family: $weightRegular;
                }
            }

            .c-article--paywalled-view {
                &:after {
                    content: '';
                    display: block;
                    right: -50px;
                    margin: 0 auto;
                    padding: 30px 15px 5px;
                    background: -moz-linear-gradient(to bottom, transparent 0, rgba(255, 255, 255, 0.66) 40%, #fff 100%);
                    background: -webkit-linear-gradient(to bottom, transparent 0, rgba(255, 255, 255, 0.66) 40%, #fff 100%);
                    background: linear-gradient(to bottom, transparent 0, rgba(255, 255, 255, 0.66) 40%, #fff 100%);

                    position: absolute;
                    top: -110px;
                    height: 185%;
                    width: auto;
                    z-index: 9;
                }
            }
        }
    }
}

/* End article style */