{% set headermenu = _Menu.get({'menuType': 'header'}) %}
{% set site       = networkData.title | lower | split(" ")[0]%}



<header class="c-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="c-header__top-bar c-header__top-bar-xs">
                    <a href="javascript:;">Advertise</a>
                    <a href="javascript:;">Contact</a>
                    <a href="javascript:;">FAQs</a>
                </div>
                <div class="c-header__weather-info c-header__weather-info-xs">
                    <div class="c-header__weather-info--date">Wednesday, 09 January 2019</div>
                    <div class="c-header__weather-info--status">weather</div>
                </div>
                <div class="c-header__login-info c-header__login-info-xs">
                    <a href="javascript:;" class="c-button c-button-rounded c-button--blue-bordered">Log in</a>
                    <a href="javascript:;" class="c-button c-button-rounded c-button--blue">Subscribe</a>
                </div>
                <div class="c-header__main-info">
                    <a href="javascript:;" class="c-header__main-info--logo">
                        <img src="{{networkData.templatePath}}/static/images/logo.svg" class="image-fluid" />
                    </a>
                    <div class="c-navigation c-navigation-md">
                        <ul class="c-navigation--list">
                            <li>
                                <a href="javascript:;">News</a>
                            </li>
                            <li>
                                <a href="javascript:;">Opinion</a>
                            </li>
                            <li>
                                <a href="javascript:;">COMMUNITY</a>
                            </li>
                            <li>
                                <a href="javascript:;">Sports</a>
                            </li>
                            <li>
                                <a href="javascript:;">Video</a>
                            </li>
                            <li>
                                <a href="events.php">Events</a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:;">More</a>
                                <ul class="custom-menu">
                                    <li>
                                        <a href="javascript:;">Menu 1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu 2</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="c-navigation__icons">
                            <div class="c-navigation__icons--search fa fa-search js-searchButton"></div>
                            <div class="c-navigation__icons--navicon fa fa-navicon js-menu"></div>
                        </div>
                        <div class="c-navigation__search">
                            <div class="c-navigation__search--icon fa fa-search"></div>
                            <input type="text" placeholder="Seach"/>
                            <div class="c-navigation__search--icon icon-close fa fa-times js-searchClose"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="responsive-standalone">
    <ul class="standalone-menu"></ul>
    <div class="responsive-standalone-close"><span class="fa fa-times"></span></div>
</div>
<div class="responsive-standalone-overlay"></div>