$iconfont: 'FontAwesome';


// Font Sizing
// ================================
$baseFontSize: 1rem;
$uppercase: uppercase;

// Styles
// ================================

/* Primary Fonts Style */
$primaryFont: 'Roboto',
sans-serif;
$secondaryFont: 'Noto Serif',
serif;
$weightLight: 300;
$weightRegular: 400;
$weightMedium: 500;
$weightSemibold: 600;
$weightBold: 700;
$weightUltabold: 900;

strong,
.strong {
    font-weight: 700;
}

em,
.em {
    font-style: italic;
}


// Text Decoration
// ================================
.txt-dec-none {
    text-decoration: none;
}

// Defaults
// ================================
html,
body {
    font-family: $primaryFont;
    font-size: $baseFontSize;
    color: $greyish;
}

// Headings
// ================================
h1,
h2,
h3 {
    font-family: $primaryFont;
}

h4,
h5,
h6 {
    font-family: $primaryFont;
}

.form-section h2 {
    font-family: $primaryFont;
}

.header-heading {
    margin-bottom: 15px;
}


// Links
// ================================
a,
a:link,
a:visited,
a:active {
    text-decoration: none;
}


/* Typography
------------------------------------*/
h1 {
    line-height: 1.6;
}

h2 {
    line-height: 1.5;
}

h3 {
    line-height: 1.4;
}

h4 {
    line-height: 1.3;
}

h5 {
    line-height: 1.2;
}

h6 {
    line-height: 1.2;
}

p {
    @include font-size(16);
    margin-bottom: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
}

ul,
ol {
    position: relative;

    li {
        list-style: none;

        a {
            &:hover {
                text-decoration: none;
                @include transition(all 0.3s ease-in);
            }
        }
    }
}

ol {
    li {
        list-style-position: outside;
    }
}

.marker-list li {
    list-style: square;
    list-style-position: inside;
}

iframe {
    border: none;
}

q {
    @include font-size(18);
    font-style: italic;
    color: $black;
}