/* Begin utility view style */
.u-heading {
    &--large {
        @include font-size(20);
        font-weight: $weightBold;
        color: $black;
        z-index: 11;

        @include responsive (xs) {
            @include font-size(28);
        }
    }
}

.u-bg {
    &-white {
        background-color: $white;
    }
    &-offwhite{
        background-color: $offwhite;
    }
}
.u-page-info{
    $self: &; 
    &__title{
        @include font-size(20);
        font-weight: $weightBold;
        color: $black;
        z-index: 11;
        margin-bottom:19px;
        @include responsive (xs) {
            @include font-size(28);
        }
    }
    &__discription {
        p {
            @include font-size(13);
            color: $greyish;
            line-height:1.54;
            margin-bottom:18px;

        }
    }
}

/* Begin utility view style */